<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/style.css"/>
    <style>
        
    </style>
</head>
<body>
    <h1>Kumar Blogs</h1>
 
    <% for (post of posts){ %>
        <div class="post">
           
           <h3 class="username"> @<i><%=post.username %></i></h3>
            <h4 class="content"><%= post.text %></h4>

            <a href="http://localhost:8080/posts/<%=post.id %>">Details</a>&nbsp;&nbsp;
             <a href="http://localhost:8080/posts/edit/<%=post.id %>">Edit</a>

             <form method="post" action="/posts/<%=post.id %>?_method=DELETE">
                <button type="submit" style="margin-top: 5px; color: rgb(247, 242, 242); background-color: rgb(239, 103, 103); " class="Delete">Delete</button>
             </form>
             <h5>Blog id:<%=post.id %></h5>
        </div>
        <% } %>

        <form method="get" action="http://localhost:8080/posts/new">
        <button class="newpost"><b>Add a New Post</b></button>
        </form>
</body>
</html>